/* General body styles */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header style */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: #1b263b;
    color: white;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.display {
    height: 100px;
    border-width: 2px;
    border-style: solid;
    margin: 20px 20px 0px 20px;
    border-radius: 10px;
    background-color: #1b263b;
    border-color: black;
    color: white;
}

.calculator {
    max-width: 600px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    background-color: #415a77;
    box-shadow: 20px 20px 20px 2px rgb(100, 100, 100);

}

.button-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    flex-basis: calc(25% - 10px);
    font-size: 50px;
    border-radius: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #778da9;
    border-color: #eeeeee;
}

button:active {
    scale: 90%;
}

.equal,
.remove {
    flex-basis: calc(50% - 10px);
}

/* Footer style */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b263b;
    color: white;
}